<a href="https://colab.research.google.com/gist/lvsciagin/f52c0a1d3babdda784f645a03e6b58ee/divorce2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
# https://medium.com/analytics-vidhya/a-logistic-model-for-pr1010edicting-divorce-rates-among-couples-implemented-using-the-statsmodel-api-763e03d29d68

import pandas as pd
import numpy as np

In [107]:
# reading the divorce data into the runtime
divorce = pd.read_csv('divorce.csv', sep=';' )

In [108]:
divorce.head()

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  ...  Q48  Q49  Q50  Q51  Q52  Q53  Q54  Divorce
0   2   2   4   1   0   0   0   0  ...    3    3    3    2    3    2    1        1
1   4   4   4   4   4   0   0   4  ...    3    4    4    4    4    2    2        1
2   2   2   2   2   1   3   2   1  ...    3    1    1    1    2    2    2        1
3   3   2   3   2   3   3   3   3  ...    3    3    3    3    2    2    2        1
4   2   2   1   1   1   1   0   0  ...    2    3    2    2    2    1    0        1

[5 rows x 55 columns]

In [109]:
# describing the dataset
divorce.describe()

               Q1          Q2          Q3  ...         Q53         Q54     Divorce
count  170.000000  170.000000  170.000000  ...  170.000000  170.000000  170.000000
mean     1.776471    1.652941    1.764706  ...    2.241176    2.011765    0.494118
std      1.627257    1.468654    1.415444  ...    1.505634    1.667611    0.501442
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000  ...    1.000000    0.000000    0.000000
50%      2.000000    2.000000    2.000000  ...    2.000000    2.000000    0.000000
75%      3.000000    3.000000    3.000000  ...    4.000000    4.000000    1.000000
max      4.000000    4.000000    4.000000  ...    4.000000    4.000000    1.000000

[8 rows x 55 columns]

In [110]:
# checking for null values in the dataset
# there was none so this step is not necessary


# divorce.isnull().sum()

In [111]:
# Finding the best features to use for the model.

corr = divorce.corr()

# uncomment this out to print the correlation matrix
# corr.style.background_gradient(cmap='plasma').set_precision(2)

In [112]:
df = divorce
# normalizing dataset to a common scale

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df),columns= df.columns)
features_df = normalised_df.drop(columns=[ 'Divorce' ])
divorce_target =  normalised_df['Divorce']

#declaring independent and dependent variables
x = features_df
y = divorce_target

In [113]:
# *** Feature Selection *****

In [114]:

# ***(PEARSON)***
#Check correlations between independent variables 
corr_measure = x.corr(method='pearson', min_periods=1)
#Sort values in descending order
corr_measure.loc['Q1', :].sort_values(ascending=False)
#Read the bottom 10 Records
sorted_df = corr_measure.loc['Q1', :].sort_values(ascending=False)
sorted_df.tail(10)

Q42    0.642307
Q48    0.633564
Q53    0.611422
Q47    0.582693
Q52    0.575463
Q45    0.510160
Q43    0.482223
Q7     0.427989
Q46    0.400296
Q6     0.287140
Name: Q1, dtype: float64

In [115]:
# ***(KENDALL)***
#Check correlations between independent variables 
corr_measure = x.corr(method='kendall', min_periods=1)
#Sort values in descending order
corr_measure.loc['Q1', :].sort_values(ascending=False)
#Read the bottom 10 Records
sorted_df = corr_measure.loc['Q1', :].sort_values(ascending=False)
sorted_df.tail(10)

Q48    0.550164
Q42    0.525680
Q52    0.502548
Q53    0.497974
Q47    0.476960
Q43    0.438724
Q45    0.433951
Q7     0.401872
Q46    0.338469
Q6     0.282473
Name: Q1, dtype: float64

In [116]:
# ***(SPEARMAN)***
#Check correlations between independent variables 
corr_measure = x.corr(method='spearman', min_periods=1)
#Sort values in descending order
corr_measure.loc['Q1', :].sort_values(ascending=False)
#Read the bottom 10 Records
sorted_df = corr_measure.loc['Q1', :].sort_values(ascending=False)
sorted_df.tail(10)

Q48    0.653108
Q42    0.627600
Q53    0.593514
Q52    0.588943
Q47    0.568930
Q43    0.512671
Q45    0.501913
Q7     0.449839
Q46    0.403930
Q6     0.329791
Name: Q1, dtype: float64

In [117]:
#creating a new dataframe using the chosen features
df2 = divorce[['Q42', 'Q48', 'Q53', 'Q47', 'Q52', 'Q45', 'Q43', 'Q7', 'Q46', 'Q6', 'Divorce']]
#randomize the rows of the dataframe
df2 = df2.sample(frac=1).reset_index(drop=True)

df2.head()

   Q42  Q48  Q53  Q47  Q52  Q45  Q43  Q7  Q46  Q6  Divorce
0    0    2    4    0    4    0    0   0    3   0        0
1    4    4    4    3    4    4    4   0    4   1        1
2    0    3    2    1    2    1    2   0    2   0        0
3    4    4    4    4    4    4    4   1    4   1        1
4    2    2    1    1    2    2    3   0    2   1        1

In [118]:
# normalizing dataset to a common scale

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df2),columns= df2.columns)
features_df = normalised_df.drop(columns=[ 'Divorce' ])
divorce_target =  normalised_df['Divorce']

#declaring independent and dependent variables
x2 = features_df
y2 = divorce_target

#split into train & test datasets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x2,y2,test_size = 0.3,random_state = 1)

In [119]:
df2.corr()

              Q42       Q48       Q53  ...       Q46        Q6   Divorce
Q42      1.000000  0.618045  0.562994  ...  0.548272  0.227993  0.739629
Q48      0.618045  1.000000  0.637911  ...  0.448773  0.200673  0.619830
Q53      0.562994  0.637911  1.000000  ...  0.505164  0.258092  0.711176
Q47      0.717083  0.602951  0.623877  ...  0.664794  0.212979  0.656409
Q52      0.580543  0.513645  0.803221  ...  0.550210  0.205056  0.651478
Q45      0.675723  0.413413  0.422336  ...  0.592041  0.094820  0.546450
Q43      0.719095  0.409197  0.387796  ...  0.561868  0.171599  0.566242
Q7       0.333211  0.311110  0.313725  ...  0.069850  0.424212  0.544835
Q46      0.548272  0.448773  0.505164  ...  1.000000  0.127759  0.443465
Q6       0.227993  0.200673  0.258092  ...  0.127759  1.000000  0.420913
Divorce  0.739629  0.619830  0.711176  ...  0.443465  0.420913  1.000000

[11 rows x 11 columns]

In [120]:
# Getting model log summaries with major focus on coefficients
import statsmodels.api as sm

# building the model and fitting the data
log_reg = sm.Logit(y2, x2).fit()

#printing the log summary
print(log_reg.summary())

# Determining Model Accuracy
# fit a logistic regression on the training dataset
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()
# fit model
model.fit(x2, y2)
# make predictions
yhat = model.predict(x2)
# evaluate predictions
acc = accuracy_score(y2, yhat)
print(acc)

Optimization terminated successfully.
         Current function value: 0.291478
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:                Divorce   No. Observations:                  170
Model:                          Logit   Df Residuals:                      160
Method:                           MLE   Df Model:                            9
Date:                Tue, 22 Feb 2022   Pseudo R-squ.:                  0.5794
Time:                        22:32:13   Log-Likelihood:                -49.551
converged:                       True   LL-Null:                       -117.82
Covariance Type:            nonrobust   LLR p-value:                 5.328e-25
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Q42            5.6324      1.381      4.080      0.000       2.927       8.338
Q48           -4.8736      1.376     -3.542      0.000      -7.570      -2.177
Q53            2.4497      1.350      1.814      0.070      -0.197       5.096
Q47            3.1388      1.239      2.534      0.011       0.711       5.567
Q52            1.0163      1.259      0.807      0.419      -1.451       3.483
Q45            0.2123      1.143      0.186      0.853      -2.028       2.453
Q43           -3.1375      1.383     -2.268      0.023      -5.848      -0.427
Q7            13.2246      4.538      2.914      0.004       4.330      22.119
Q46           -3.8460      1.285     -2.993      0.003      -6.364      -1.328
Q6             1.2252      1.485      0.825      0.409      -1.685       4.136
==============================================================================
0.9470588235294117

In [121]:
# reading the questions data into the runtime
questions = pd.read_csv('reference.tsv', sep='|' )

# setting attribute_id as the index column
questions.set_index("atribute_id", inplace = True)

#finding the impact of each Variable from an exponent of their coef
Q42 = np.exp(5.6324)
Q48 = np.exp(-4.8736)
Q53 = np.exp(2.4497)
Q47 = np.exp(3.1388)
Q52 = np.exp(1.0163)
Q45 = np.exp( 0.2123)
Q43 = np.exp(-3.1375 )
Q7 = np.exp(13.2246)
Q46 = np.exp(-3.8460 )
Q6 = np.exp(1.2252)

print('Q42 - ',questions.at[42,'description'] ,'\n Increases odds of divorce by', Q42)
print('Q48 - ',questions.at[48,'description'] ,'\n Increases odds of divorce by', Q48)
print('Q53 - ',questions.at[53,'description'] ,'\n Increases odds of divorce by', Q53)
print('Q47 - ',questions.at[47,'description'] ,'\n Increases odds of divorce by', Q47)
print('Q52 - ',questions.at[52,'description'] ,'\n Increases odds of divorce by', Q52)
print('Q45 - ',questions.at[45,'description'] ,'\n Increases odds of divorce by', Q45)
print('Q43 - ',questions.at[43,'description'] ,'\n Increases odds of divorce by', Q43)
print('Q7  - ',questions.at[7,'description'] ,'\n Increases odds of divorce by', Q7)
print('Q46 - ',questions.at[46,'description'] ,'\n Increases odds of divorce by', Q46)
print('Q6  - ',questions.at[6,'description'] ,'\n Increases odds of divorce by', Q6)

Q42 -  When I argue with my spouse, ı only go out and I don't say a word.
 Increases odds of divorce by 279.3317099046809
Q48 -  I feel right in our discussions.
 Increases odds of divorce by 0.0076457908366517075
Q53 -  When I discuss, I remind my spouse of her/his inadequacy.
 Increases odds of divorce by 11.58487073663108
Q47 -  When I discuss with my spouse, I stay silent because I am afraid of not being able to control my anger.
 Increases odds of divorce by 23.076158846623933
Q52 -  I wouldn't hesitate to tell my spouse about her/his inadequacy.
 Increases odds of divorce by 2.7629529024656567
Q45 -  I'd rather stay silent than discuss with my spouse.
 Increases odds of divorce by 1.236518785076245
Q43 -  I mostly stay silent to calm the environment a little bit.
 Increases odds of divorce by 0.043391140268250354
Q7  -  We are like two strangers who share the same environment at home rather than family.
 Increases odds of divorce by 553822.7673416017
Q46 -  Even if I'm right in the discussion, I stay silent to hurt my spouse.
 Increases odds of divorce by 0.021365025849233204
Q6  -  We don't have time at home as partners.
 Increases odds of divorce by 3.4048469840952382

In [125]:
# User Prompt

# Redefining the dataset by only retaining valid columns
import csv

_questions = ['Q42', 'Q48', 'Q53', 'Q47', 'Q52', 'Q45', 'Q43', 'Q7', 'Q46', 'Q6']

print('Please answer the following questions truthfully.')
print('All responses are collected on a 5 point scale \n 0=Never, 1=Seldom, 2=Averagely, 3=Frequently, 4=Always\n')

# user input prompt function
def prompt_for_answers():
    _responses = []
    with open("reference.tsv", "r") as f:
        data = csv.DictReader(f, delimiter='|', quoting=csv.QUOTE_NONE)
        for i in data:
            if "Q{}".format(i['atribute_id']) in _questions:
                answer = input(i['description'] + " ")
                if answer: _responses.append(answer)
    return _responses
                
answer_list = prompt_for_answers()

print(answer_list)

Please answer the following questions truthfully.
All responses are collected on a 5 point scale
 0=Never, 1=Seldom, 2=Averagely, 3=Frequently, 4=Always

We don't have time at home as partners. 3
We are like two strangers who share the same environment at home rather than family. 2
When I argue with my spouse, ı only go out and I don't say a word. 4
I mostly stay silent to calm the environment a little bit. 1
I'd rather stay silent than discuss with my spouse. 0
Even if I'm right in the discussion, I stay silent to hurt my spouse. 3
When I discuss with my spouse, I stay silent because I am afraid of not being able to control my anger. 2
I feel right in our discussions. 1
I wouldn't hesitate to tell my spouse about her/his inadequacy. 4
When I discuss, I remind my spouse of her/his inadequacy. 3
['3', '2', '4', '1', '0', '3', '2', '1', '4', '3']

In [126]:
# Getting predictions on user input
# Defining user input
lst = answer_list

# converting user input list to array
arr = np.array(lst)

# Reshaping the user input array from 1D to 2D 
newarr = arr.reshape(1, -1)

#getting likelihood of divorce 
result = model.predict(newarr)

# values between 0 and 0.5 will be considered 0 (Not Divorced)
# values between 0.5 and 1, will be considered 1 (Divorced)
if result < 0.5:
  print(result, 'Not likely to Divorce.')
  print('Model accuracy = ', acc, '\n')
else:
  print(result, 'Likely to Divorce')
  print('Model accuracy = ', acc, '\n')

[1.] Likely to Divorce
Model accuracy =  0.9470588235294117

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)